@import "../../style/color.scss";

.menu__filters-fromto {
  display: block;
  box-sizing: border-box;
  width: 232px;
  font-family: "Open Sans";
  font-size: 13px;
  background-color: #fff;
  color: $text;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 16px;
  & label {
    display: block;
  }
  & input {
    border: 1px solid $commonBlue;
    width: 100%;
    height: 25px;
    margin: 10px 0px;
    border-radius: 4px;
    outline: none;
  }
  & .button {
    width: 100%;
    margin-top: 5px;
    height: 30px;
    & button {
      background-color: transparent;
      border: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
      color: #fff;
    }
  }
}

@media (max-width: 800px) {
  .menu__filters-fromto {
    height: 95%;
    width: 100%;
  }
}
