.menu__filters-fromto 
  form 
    .from 
      label(for="from") Откуда 
      input#from(type="text", name="from")
    .to
      label(for="to") Куда 
      input#to(type="text", name="to")
    .button 
      button#button(type="submit") Найти 