.main__ticket 
  .header 
    .header__price 13 400 Р
    .header__logo
      img(src="./img/S7-logo.png", alt="company-logo").header__logo-img
  .flight 
    .flight__case
        div MOW – HKT
          p 10:45 - 08:00
        div В ПУТИ
          p 21ч 15м
        div 2 пересадки
          p HKG, JNB
    .flight__case
        div MOW – HKT
          p 11:20 - 00:50
        div В ПУТИ
          p 13ч 30м
        div 1 пересадка
          p HKG, JNB