.menu__filters-company
  ul.menu__filters-company-list
    li.menu__filters-company-item
      sapn КОМПАНИЯ
    li.menu__filters-company-item
      input#radio_1.radio(type="radio", name="company" ) 
      label(for="radio_1")  Все
    li.menu__filters-company-item
      input#cddfa038-823b-43b1-b18d-395731881077.radio(type="radio", name="company") 
      label(for="cddfa038-823b-43b1-b18d-395731881077")  S7 Airlines
    li.menu__filters-company-item
      input#7dc12d0b-ce42-48a0-8673-0dad4d698764.radio(type="radio", name="company") 
      label(for="7dc12d0b-ce42-48a0-8673-0dad4d698764")  XiamenAir