.menu__filters-transfer
  ul.menu__filters-transfer-list
    li.menu__filters-transfer-item
      span КОЛИЧЕСТВО ПЕРЕСАДОК
    li.menu__filters-transfer-item 
      #inpute_transfer
        input(type="checkbox", name="0" id="checkbox").input__transfer
        label(for="transfer")  Без пересадок
    li.menu__filters-transfer-item
      #inpute_transfer
        input(type="checkbox", name="1" id="checkbox").input__transfer
        label(for="transfer")  1 пересадка
    li.menu__filters-transfer-item
      #inpute_transfer
        input(type="checkbox", name="2" id="checkbox").input__transfer
        label(for="transfer")  2 пересадки
    li.menu__filters-transfer-item 
      #inpute_transfer
        input(type="checkbox", name="3" id="checkbox").input__transfer
        label(for="transfer")  3 пересадки