doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Aviasales Test Tsak 
  body 
  .container 
    header.header 
        img(src="/img/logo.svg", alt="logo").logo
    section.section 
      sidebar.sidebar 
        include components/sidebar__menu/index.pug
      main.main 
        include components/menu/index.pug
        .tickets 
        include components/button/index.pug
